@font-face {
    font-family: "Artegra";
    src: url("../fonts/ArtegraSansExAltBold.woff2") format("woff2")
}
body{
    font-family: "Artegra Sans Extended Alt" , sans-serif !important;
    overflow-x: hidden;
}

@media (min-width: 1400px) {
    .container {
        padding-left: 90px !important;
        padding-right: 90px !important;
        max-width: 100% !important;
        width: 100% !important;
    }
}
/*header*/
@media (min-width: 769px) and (max-width: 1200px) {
    .header_btn {
        display: none;
    }
}
header{
    position: absolute;
    width: 100%;
    padding: 50px 100px;
    z-index: 101;
}
header a:hover {
    text-decoration: none;
}
.header{
    display: flex;
}
.header_btns{
    white-space: nowrap;
    width: 30%;
}
.header_btn{
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 21px;
    color: #202020;
    font-weight: 300;
    margin-right: 35px;

}
.header_btn:hover {
    color: #202020;
}
.header_menu_btn{
    margin-right: 35px;

}
.header_logo{
    width: 40%;
    z-index: 2;
    text-align: center;
}
.header_btn:hover{
    text-decoration: none;
}
.header_btns_s{
    z-index: 2;
    width: 30%;
    text-align: right;
}
.btn_s{
    margin-left: 20px;
    border-radius: 25px;
    padding: 8px 10px 13px 10px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}
.btn_s:hover{
    text-decoration: none;
}
.header_mb{
    display: none;
}
.header_mb_btns_1{
    margin-left: 2px;
    margin-top: 3px;
}
.header_mb_btns_2{
    margin-top: 1.5px;
    width: 25%;
    text-align: right;
    float: right;
}
.header_mb_logo{
    margin-top: 3.5px;
    width: 75%;
    text-align: center;
}
.header_mb_logo img{
    height: 19px;
}
.header_mb_btn{
    margin-right: 5px;
    width: 15%;
}
.header_mb_toggle img{
    max-height: 34px;
}
.header_mb_btns {
    width: 100%;
    display: flex;
}
.mb-search-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #D2D6D7;
    background: none !important;
    outline: none;
    color: #858586;
    font-size: 16px;
}
.border-bottom {
    border-bottom: 1px solid #D2D6D7;
}
.header_mb_block {
    width: 100%;
    display: inherit;
}

@media (max-width: 1478px) {
    .header_btns{
        width: 45%;
    }
    .header_logo{
        width: 30%;
    }
    .header_btns_s{
        width: 35%;
        float: right;
    }

}
@media (max-width: 768px) {
    .header_pc{
        display: none;
    }
    .header_mb{
        display: flex;
    }
    header {
        position: relative;
        height: 55px;
        padding: 14px 12px;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    }
    .menu-footer {
        position: absolute;
        bottom: 0;
    }
    .social-buttons {
        height: 41px;
        width: 100vw;
        padding: 0 14px;
        margin-bottom: 22px;
    }
    .social-btn {
        display: inline-block;
        width: 44.06vw !important;
        height: 8.75vw;
        font-size: 14px !important;
        line-height: 27px;
        padding: 3.5px 18px !important;
    }
    .social-btn:first-child {
        background: #202020;
        color: #f1f1f1 !important;;
    }
    .social-btn:last-child {
        float: left;
    }
    .menu-btn {
        display: inline-block;
        width: 45% !important;
        height: 8.75vw;
        
    }
    .menu-btn:last-child {
        float: right;
    }
    /*hamburger*/
    #menuToggle
    {
    display: inline-block;
    width: 33px;
    height: 15px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */


    #menuToggle span
    {
    display: block;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    
    background: #858586;
    border-radius: 15px;
    
    z-index: 1;
    
    transform-origin: 0px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    .hamburger-1 {
        width: 25.95px;
    }
    .hamburger-2 {
        width: 20.09px;
    }
    .hamburger-3 {
        width: 12.56px;
    }

    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #858586;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
    width: 25.95px;
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu
    {
    position: absolute;
    width: 100%;
    padding: 0;
    height: calc(100vh - 55px);
    top: 55px;
    left: 0;
    background: #FFFFFF;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
    padding: 10px 17px;
    font-size: 16px;
    }

    #menu a
    {
    
    color: #202020;
    }

    /*
    * And let's fade it in from the left
    */
    #menuToggle input:checked ~ ul
    {
    transform: scale(1.0, 1.0);
    opacity: 1;
    }
    }
/*slider*/
.main{
    height: 100vh;
    width: 100%;
}
.carousel {
    position: absolute !important;
    top: 0;
    max-height: 100vh;
    right: 0;
    z-index: 1;
    width: 100%;
}
.carousel-inner {
    max-height: 100vh;
}
.carousel-img {
    float: right;
    height: 100vh;
}
.slide_n{
    width: 100%;
    height:100%;
    display: inline-block;
    
}
.slide_ctn{
    padding-right: 100px;
    padding-left: 100px;
    max-width: 60%;
    z-index: 100;
    position: absolute;
}
.slide_ctn h1{
    position: relative;
    margin-top:200px;
    font-weight: bold;
    font-size: 100px;
    line-height: 85%;
    max-width: 800px;
    letter-spacing: -3px;
    color: #202020;
    text-shadow: 0px 6px 25px rgba(255, 255, 255, 0.15);
}
.slide_ctn img {
    width: 150px;
    margin-top: 35px;
}
.carousel-indicators {
    bottom: 15% !important;
    left: 100px !important;
    margin: 0 !important;
    right: auto !important;
}
.carousel-indicators > li {
    border: 2px solid #858586 !important;
    background: none !important;
    margin: 0 27px !important;
    box-sizing: border-box !important;
    border-radius: 50% !important;
    width: 14px !important;
    height: 14px !important;
}
.carousel-indicators .active {
    border: 2px solid #202020 !important;
    background: #202020 !important;
}
.slider-catalog {
    position: absolute;
    bottom: 20vw;
    left: 10vw;
    z-index: 15;
}

@media (min-width: 769px) {
    .hidden-pc {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .hidden-mob {
        display: none !important;
    }
    .slick-arrow {
        display: none !important;
    }
}

@media (max-width: 1120px) and (min-width: 1000px) {
    .slide_ctn h1 {
        font-size: 80px;
    }
}
@media (max-width: 1000px) and (min-width: 768px) {
    .slide_ctn h1 {
        font-size: 60px;
    }
}
@media (max-width: 768px) and (min-width: 512px) {
    .main{
        min-height: 450px;
        height: inherit;
        width: 100%;
    }
    .slide_n {
        background-position: right;
    }
    .slide_ctn{
        padding-right: 40px;
        padding-left: 40px;
    }
    .slide_ctn h1 {
        margin-top:100px;

        font-size: 40px
    }
}
@media (max-width: 512px) {
    .main{
        height: calc(100vh - 88px);
        width: 100%;
    }
    .carousel {
        top: 55px;
        z-index: 0;
    }
    .carousel-img {
        height: calc(100vh - 88px);
        width: auto;
    }
    .slide_ctn {
        display: none;
    }
    .slide_n {
        
    }
    .slide_ctn{
        position: relative;
        padding-right: 25px;
        padding-left: 25px;
        z-index: 1;
    }
    .slider-btn {
        margin-top: 65vh !important;
        width: 25.31vw !important;
        height: 19.3vw !important;
    }
    .carousel-indicators {
        transform: rotate(90deg);
        bottom: 55% !important;
        left: -47px !important;
        margin: 0 !important;
        right: auto !important;
    }
    .carousel-indicators > li {
        width: 9px !important;
        height: 9px !important;
    }
}
/*2sec*/
.about{
    height: auto;
    width: 100%;
    display: flex;
}
.img_2sec{
    width: 60%;
    display: flex;
    align-items: center;
}
.txt_2sec{
    width: 40%;
    padding: 0 90px;
    
    display: inline-block;
}
.txt_2sec {
    color: #202020;
}
.txt_2sec h1{
    font-size: 200px;
    line-height: 86%;
    font-weight: 800;

    letter-spacing: -5px;
    font-size: 100px;
    margin-top: 70px;
    margin-bottom: 30px;
    position: relative;
    left: 150px;
}
.txt_2sec p{
    color: #858586;
    font-size: 18px;
    line-height: 38px;
    margin-bottom: 50px;
}
.btn_st{
    border: 2px solid #202020;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 13px 60px;
    font-size: 20px;
    line-height: 46px;
    color: #202020;
}
.btn_st:hover{
    text-decoration: none;
    color: #202020;
}


@media (max-width: 1200px) {
    .txt_2sec h1 {
        right: 0px;
    }
    .img_2sec{
        width: 30%;

    }
    .txt_2sec{
        width: 70%;

    }
}
@media (max-width: 1024px) {
    .img_2sec{
        display: none;
    }
    .txt_2sec{
        width: 100%;

    }
}
@media (max-width: 768px) {
    .about {
        background: url(../img/trendspic.png)
    }
    .txt_2sec {
        padding: 15px 20px;
    }
    .txt_2sec h1 {
        font-size: 36px;
        margin-bottom: 10px;
        margin-top: 15px;
        letter-spacing: -2px;
        left: 0;
        
    }
    .txt_2sec p {
        font-size: 12px;
        line-height: 25px;
        color: #858586;
        margin-bottom: 10px;

    }
    .btn_st {
        font-size: 10px;
        line-height: 21px;
        padding: 7px 35px;
        border: 0.948718px solid #202020;
        float: right;
        color: #202020;
    }
    }
/**/
/*catalog*/
@media (max-width: 768px) {
    .product-title {
        font-size: 10px;
        line-height: 14px;
    }
    .product-price {
        font-size: 12px;
        line-height: 18px;
        font-weight: 650;
    }
    .slick-title {
        font-size: 16px;
        line-height: 23px;
        margin: 32px 0 9px 0;
    }
    .gotoall {
        font-size: 16px;
        line-height: 23px;
        margin: 32px 0 9px 0;
    }
    .product-preview {
        width: 132px !important;
        height: 228px !important;
        margin: 0 2.5px !important
    }
}
@media (min-width: 769px) {
    .catalog {
        border-top: 2px solid #858586;
    }
    .product-title {
        font-size: 18px;
        line-height: 34px;
    }
    .product-price {
        font-size: 30px;
        line-height: 46px;
        font-weight: 650;
    }
    .slick-title {
        font-size: 32px;
        line-height: 45px;
        margin: 50px 0 35px 0;
    }
    .gotoall {
        font-size: 32px;
        line-height: 45px;
        margin: 50px 0 35px 0;
    }
    .product-preview {
        margin: 0 10px;
        width: 8.42% !important;
        height: auto;
    }
}
@media (min-width: 1400px) {
    .product-preview {
        width: 8.42% !important;
        height: auto;
    }
}
.slick-title {
    display: inline-block;
}
.gotoall {
    float: right;
    color: #202020;
}
.cat_cont {
    margin: 50px 0;
}


.slick-list {
    width: 100%;
}
.product-img > img {
    width: 100%;
}
.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 45%;
    right: -29px;
    display: block;
    width: 53px;
    height: 53px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: url(../img/slick-arrow.svg);
}
.slick-prev {
    display: none;
}
.hidden_pc{
    display: none;
}

@media (max-width: 768px) {
    .cat_cont {
        margin-top: 100px;
    }
}
.cat_cont{
    width: 100%;
    text-align: center;
}
.cat_cont a{
    padding: 25px;
    background: #F1F1F1;
    border-radius: 100px;
}
.cat_cont a img{
    max-height: 15px;
}

/*footer*/
footer{
    background-color: #202020;
}
footer a:hover{
    text-decoration: none;
    color: #858586;

}
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer_cl_title{
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 17px;
     color: #FFFFFF;
}
.sc_btn{
    display: inline-block;
    margin-top: 10px;
}
.footer_links{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #858586;
}
.dwnl_apps{
    display: inline-block;
    margin-top: 10px;
}
.footer_dw{
    border-top: 1px solid #000000;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ft_dw_btn{
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #858586;
}

@media (max-width: 768px) {
    .footer {
        padding-top: 20px;
    }
    .footer_cl_title {
        margin-top: 20px;
    }
    .footer_links {
        margin: 15px 0;
    }
}

/* pc hamburger */
@media (min-width: 769px) {
/* CORE STYLES */
:root {
    --overlay-color: #F1F1F1;;
    --menu-speed: 0.75s;
  }
  
  .btn {
    display: inline-block;
    border: none;
    color: #858586;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
  }
  
  .btn:hover {
    opacity: 0.7;
  }
  
  /* MENU STYLES */
  .menu-wrap {
    display: inline-block;
    width: 50px;
    height: 27px;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

.menu-wrap span
    {
    display: block;
    height: 4px;
    margin-top: 7px;
    position: relative;
    
    background: #858586;
    border-radius: 40px;
    z-index: 1;
    transform-origin: 0px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    .hamburger-1 {
        width: 39.65px;
    }
    .hamburger-2 {
        width: 30.7px;
    }
    .hamburger-3 {
        width: 19.19px;
    }

    .menu-wrap span:first-child
    {
    transform-origin: 0% 0%;
    }

    .menu-wrap span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    .menu-wrap input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-4px, -4px);
    background: #858586;
    }

    /*
    * But let's hide the middle one.
    */
    .menu-wrap input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    .menu-wrap input:checked ~ span:nth-last-child(2)
    {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
    width: 39.65px;
    }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    opacity: 0.98;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    width: 70vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > .row {
    margin-top: -20%;
  }
  
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  .burger_links {
      display: block;
      padding: 18px 0;
      color: #202020;
      font-size: 1.2rem;
  }
  .burger_search {
        display: inline-block;
        overflow: visible;
        border: none;
        border-bottom: 1.53571px solid #202020;
        background: none !important;
        outline: none;
        height: 43px;
        width: 300px;
        color: #858586;
        font-size: 16px;
  }
  .submit_icon {
    position: absolute;
    border: none;
    left: 280px;
    margin: 7px;
    width: 36px;
    height: 36px;
    background: url(../img/MagnifyingGlass1.svg);
    background-repeat: no-repeat;
  }
  .burger-btn {
      display: block;
  }
}

