@media (max-width: 1740px) {
    .wrapper {
        max-width: 1760px;
        padding: 0px 22px;
        margin: 0 auto;
    }
}
@media (max-width: 1399.98px) {
    .footer__clients {
        width: 410px;
    }
}
@media (max-width: 1199.98px) {
    .footer__clients {
        width: 410px;
    }
    .footer__content{
        padding: calc(67px + (162 - 67) * ((100vw - 320px) / (1920 - 320))) 0px 0px 0px;;
    }
    .footer__block{
        flex: 0 1 50%;
    }
    .footer__contacts {
        margin-right: 0px;
    }
    
}
@media (max-width: 991.98px){

}
@media (max-width: 767.98px) {
    .footer__block{
        flex: 0 1 100%;
        margin: 0px 0px 40px 0px;
    }
    .footer__clients {
        margin: 0px 0px 62px 0px;
    }
    .footer__contacts {
        margin: 0px 0px 95px 0px;
    }
    .footer__link {
        line-height: 157%;
    }
}