$color1: #202020;
$color2: #858586;
$white: #ffffff;
$iconColor1: #AAAAA8;
$iconColor2: #FF5252;
$iconColor3: #F1F1F1;
$iconColor4: #7E6A54;
$black: #000000;
$background1: #202020;
$background2: #E3E3E3;