$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-nav-Handbag: "\e908";
$icon-appstore: "\e900";
$icon-earth: "\e901";
$icon-footer-facebook: "\e902";
$icon-footer-inst: "\e903";
$icon-googleplay: "\e904";
$icon-Inst: "\e905";
$icon-like: "\e906";
$icon-main-Vector: "\e907";
$icon-nav-Heart: "\e909";
$icon-nav-search: "\e90a";
$icon-right: "\e90b";
$icon-SignIn: "\e90c";
$icon-Whatsapp: "\e90d";

